@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    --grey: hsla(240, 9%, 89%, 1);
    --black: hsla(240, 6%, 13%, 1);
}

main{
    background: url(images/Background.png);
    width: 365px;
    height: 812px;
}

.container{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:var(--grey);
}

.avatar{
    width: 10rem;
    margin: 11.5rem auto 0;
    position: relative;
}

.description{
    margin-top: 1.5rem;
}

#stamp{
    position: absolute;
    top: -25px;
    z-index: 1;
}

#picture{
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

#name{
    font-size: 1.5rem;
}

#github{
    margin-top: 0.25rem;
    text-decoration: none;
    color: var(--grey);
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

#information{
    margin-top: 2rem;
}

#socialMedia{
    margin-top: 4rem;
    list-style: none;
    padding: 0;

    display: flex;
    justify-content: center;
    gap:0.5rem;
}
